@model IEnumerable<Product>
<h1>Products</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th>
            Stock
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model)
    {
        <tr>
            <td>
                @product.Name
            </td>
            <td>
                @product.Price
            </td>
            <td>
                @product.Stock
            </td>
            <td></td>
        </tr>
    }
    </tbody>
</table>
<a href="/Products/Create" class="btn btn-primary">Create New Product</a>
                    